.header {
    font-family: arial;
    color: black;
    display: flex;
    flex-direction: row;
    height: 10%;
    margin-left: 10%;
    margin-right: 10%;

}

a {
    text-decoration: none;
    color: black
}
a:hover {
    text-decoration: none;
    color: orange
}
span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.titre {
    width: 50%;
}

.boutton {
    justify-content: space-between;
    width: auto;
}