.header {
    font-family: arial;
    color: white;
    display: flex;
    flex-direction: row;
    height: 10%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;

}

a {
    text-decoration: none;
    color: white
}
a:hover {
    text-decoration: none;
    color: orange
}
span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.header_titre {
    font-size: 30px;
    width: 50%;
}

.header_boutton {
    justify-content: space-between;
    width: auto;
}