.header {
    font-family: arial;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

a {
    text-decoration: none;
    color: white
}
a:hover {
    text-decoration: none;
    color: orange
}

.header_titre {
    margin-left: 2vw;
    font-size: 4vmin;
    width: 50%;
}

.header_bouton {
    font-size: 2vmin;
    margin-right: 2vw;
    width: auto;
}